.class
{border:2px solid orange;
    margin: 2px;
}
.id
{border:2px solid orange;
    margin: 2px;
}
.marginandpadding
{border:2px solid orange;
    margin: 2px;
}
.font
{border:2px solid orange;
    margin: 2px;
}
.backgrounds
{border:2px solid orange;
    margin: 2px;
}
.widthandheight
{border:2px solid orange;
    margin: 2px;
}
.border
{border:2px solid orange;
    margin: 2px;
}
.misc
{border:2px solid orange;
    margin: 2px;
}